<style>
  table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: #fff;
  }

  th {
    background-color: #4caf50; /* Màu nền cho tiêu đề */
    color: white; /* Màu chữ cho tiêu đề */
    padding: 10px;
    text-align: center;
  }

  td {
    border: 1px solid #dddddd; /* Kẻ ô cho các ô */
    padding: 8px;
    text-align: center;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2; /* Màu nền cho hàng chẵn */
  }

  tr:hover {
    background-color: #ddd; /* Màu nền khi di chuột qua hàng */
  }
</style>

<div class="home-container">
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <% if (messages) { %>
    <div id="emailHelp" class="form-text"><%= messages %></div>
    <% } %>
    <button
      type="button"
      class="btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#addModal">
      Thêm người dùng
    </button>
  </div>

  <table>
    <thead>
      <th>STT</th>
      <th>Tên tài khoản</th>
      <th>Họ và tên</th>
      <th>Địa chỉ</th>
      <th>Email</th>
      <th>Thiết lập riêng</th>
    </thead>

    <tbody>
      <% for(let i = 0; i < data.rows.length; i++) {%>

      <tr>
        <td scope="row"><%= i+1 %></td>
        <td><%= data.rows[i].username %></td>
        <td><%= data.rows[i].fullname %></td>
        <td><%= data.rows[i].address %></td>
        <td><%= data.rows[i].email %></td>
        <td>
          <div style="display: flex; gap: 15px; justify-content: center">
            <a href="">
              <i class="fa-solid fa-eye" style="color: #74c0fc"></i>
            </a>
            <i
              data-bs-toggle="modal"
              data-bs-target="#updateModal"
              class="fa-solid fa-pen-to-square"
              style="color: #74c0fc"
              data-user-name="<%= data.rows[i].username %>"
              data-full-name="<%= data.rows[i].fullname %>"
              data-address="<%= data.rows[i].address %>"
              data-email="<%= data.rows[i].email %>"
              data-id="<%= data.rows[i].id %>"></i>
            <a href="http://localhost:8080/delete-user/<%= data.rows[i].id %>">
              <i class="fa-solid fa-trash" style="color: #a80000"></i>
            </a>
          </div>
        </td>
      </tr>
      <%}%>
    </tbody>
  </table>
</div>

<div
  class="modal fade"
  id="addModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Thêm người dùng</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="POST" action="add-user">
          <div class="mb-3">
            <label for="username" class="form-label">Tên tài khoản</label>
            <input
              type="text"
              class="form-control"
              id="username"
              name="username"
              placeholder="Nhập tên tài khoản"
              required />
          </div>
          <div class="mb-3">
            <label for="username" class="form-label">Mật khẩu</label>
            <input
              type="password"
              class="form-control"
              id="password"
              name="password"
              placeholder="Nhập mật khẩu"
              required />
          </div>
          <div class="mb-3">
            <label for="fullname" class="form-label">Họ và tên</label>
            <input
              type="text"
              class="form-control"
              id="fullname"
              name="fullname"
              placeholder="Nhập họ và tên"
              required />
          </div>
          <div class="mb-3">
            <label for="address" class="form-label">Địa chỉ</label>
            <input
              type="text"
              class="form-control"
              id="address"
              name="address"
              placeholder="Nhập địa chỉ"
              required />
          </div>
          <div class="mb-3">
            <label for="address" class="form-label">Email</label>
            <input
              type="email"
              class="form-control"
              id="email"
              name="email"
              placeholder="Nhập email"
              required />
          </div>

          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-primary me-md-2" type="submit">Thêm</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="updateModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Cập nhật thông tin người dùng
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="post" id="updateForm">
          <div class="mb-3">
            <label for="username" class="form-label">Tên tài khoản</label>
            <input
              type="text"
              class="form-control"
              id="usernameUpdate"
              name="usernameUpdate"
              placeholder="Nhập tên tài khoản"
              required />
          </div>
          <div class="mb-3">
            <label for="fullname" class="form-label">Họ và tên</label>
            <input
              type="text"
              class="form-control"
              id="fullnameUpdate"
              name="fullnameUpdate"
              placeholder="Nhập họ và tên"
              required />
          </div>
          <div class="mb-3">
            <label for="address" class="form-label">Địa chỉ</label>
            <input
              type="text"
              class="form-control"
              id="addressUpdate"
              name="addressUpdate"
              placeholder="Nhập địa chỉ"
              required />
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input
              type="email"
              class="form-control"
              id="emailUpdate"
              name="emailUpdate"
              placeholder="Nhập email"
              required />
          </div>

          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-primary me-md-2" type="submit">
              Cập nhật
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  document.querySelectorAll('.fa-pen-to-square').forEach((item) => {
    item.addEventListener('click', function () {
      const username = this.getAttribute('data-user-name')
      const fullname = this.getAttribute('data-full-name')
      const address = this.getAttribute('data-address')
      const email = this.getAttribute('data-email')
      const id = this.getAttribute('data-id')
      console.log(id)

      document
        .getElementById('updateForm')
        .setAttribute('action', `/update-user/${id}`)

      document.getElementById('usernameUpdate').value = username
      document.getElementById('fullnameUpdate').value = fullname
      document.getElementById('addressUpdate').value = address
      document.getElementById('emailUpdate').value = email
    })
  })
</script>
